.project-card {
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  margin: 0;
}
.project-img {
  position: relative;
  max-width: none;
  top: -1.25rem;
  left: -1.25rem;
  width: calc(100% + 2.5rem);
}
.project-skills {
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project-excerpt {
  height: 100%;
  margin-bottom: 1rem;
}
.project-links {
  gap: 1rem;
}
.project-link {
  gap: 0.5rem;
}
.project-card a:not(.project-link) {
  color: var(--lilac);
}
.github-img {
  max-width: 2rem;
}
@media (min-width: 900px) {
  .project-card {
    width: calc(50% - 2rem);
  }
  .project-img {
    top: -2rem;
    left: -2rem;
    width: calc(100% + 4rem);
  }
}
