.navbar {
  justify-content: space-between;
  background-color: var(--dark-translucent-grey);
  position: fixed;
  inset: 0;
  bottom: auto;
  padding: 0.5rem 1.25rem;
  z-index: 10;
  gap: 2rem;
  overflow: hidden;
  height: 6rem;
  transition: all 0.4s;
  transition-delay: 0.4s;
}
.navbar.open {
  height: 100vh;
  background-color: var(--dark-grey);
  transition-delay: 0s;
}
.nav-links {
  width: 100%;
  gap: 2rem;
  position: absolute;
  top: 7rem;
  left: 0;
  height: calc(100vh - 12.5rem);
  transition: opacity 0.4s;
  transition-delay: 0s;
  opacity: 0;
}
.navbar.open .nav-links {
  opacity: 1;
  transition-delay: 0.4s;
}
.nav-link-ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}
.nav-link-ul:first-of-type:not(:last-of-type) {
  flex-direction: column;
}
@media (min-width: 900px) {
  .navbar {
    padding: 1rem 2rem;
    height: 7.25rem;
  }
  .navbar.open {
    height: auto;
    background-color: var(--dark-translucent-grey);
  }
  .nav-links {
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    height: auto;
    gap: 1.25rem;
  }
  .nav-link-ul:first-of-type:not(:last-of-type) {
    flex-direction: row;
  }
  .nav-link-ul:first-of-type {
    width: 80%;
  }
  .nav-link-ul:last-of-type {
    width: min(11rem, 20%);
  }
  .nav-link-ul {
    gap: 1rem;
  }
}
@media (min-width: 1180px) {
  .nav-links,
  .nav-link-ul {
    gap: 2rem;
  }
}
