.page-links a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
.page-links a::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0.25rem;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
  border-radius: 0.125rem;
  background: var(--highlight-gradient);
}
.page-links a::after {
  content: attr(data-text);
  position: absolute;
  top: 2px;
  left: 0;
  background: var(--highlight-gradient);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
}
.page-links a:hover,
.page-links a.active {
  color: transparent;
}
.page-links a:hover::after,
.page-links a.active::after {
  opacity: 1;
}
.page-links a:hover::before,
.page-links a.active::before {
  width: 100%;
}
